<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/edit.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <%- include('nav.html') %>
        <div class="box">
            <h4>To Do</h4>
            <form action="/edit?_method=PUT" method="POST">
                <input class="id" type="text" value="<%= todo._id%>" name="id">
                <input class="todo_input" type="text" value="<%= todo.title %>" name="title">
                <button class="edit_btn" type="submit">edit</button>
            </form>
        </div>
    </div>
    <script src="../js/home.js"></script>    
    <script src="../js/edit.js"></script>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        
        $('.menu_box').on('click',function(e){
            $('.slide_box').toggleClass('on');
            if($('.slide_box').hasClass('on')){
                $('.box').css('opacity', 0);
            } else{
                $('.box').css('opacity', 1);
            }
        });
    </script>
</body>
</html>