<nav class="slide_box">
    <h4 class="userName"></h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/todolist">TodoList</a></li>
        <li><a href="/calender">Calender</a></li>
        <li><a href="/calculator">Calculator</a></li>
    </ul>

    <div class="menu_box">
        <p class="one"></p>
        <p class="two"></p>
        <p class="three"></p>
    </div>
    <form class="name_edit_form">
        <input class="name_edit_input" type="text" placeholder="Change Name">
        <button class="name_edit_btn"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
    </form>    
</nav>